services:
  postgres:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: Develop1!

  adminer:
    image: adminer
    restart: always
    ports:
      - 8888:8080